<section class="card-container">
  <book-item *ngFor="let book of books" [book]="book"></book-item>
  <!--<md-card class="example-card">-->
  <!--<img md-card-image src="../../../assets/images/more-from-1.png"/>-->
  <!--<md-card-title><h4>test</h4></md-card-title>-->
  <!--<md-card-content>-->
  <!--<span class="mdl-typography&#45;&#45;font-light mdl-typography&#45;&#45;subhead">-->
  <!--The Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
  <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
  <!--bred for hunting.-->
  <!--</span>-->
  <!--</md-card-content>-->
  <!--<md-card-actions>-->
  <!--<a md-button routerLink="." class="android-link">LEARN MORE</a>-->
  <!--</md-card-actions>-->
  <!--</md-card>-->

  <!--<md-card class="example-card">-->
  <!--<img md-card-image src="../../../assets/images/more-from-1.png"/>-->
  <!--<md-card-title><h4>test</h4></md-card-title>-->
  <!--<md-card-content>-->
  <!--<span class="mdl-typography&#45;&#45;font-light mdl-typography&#45;&#45;subhead">-->
  <!--The Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
  <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
  <!--bred for hunting.-->
  <!--</span>-->
  <!--</md-card-content>-->
  <!--<md-card-actions>-->
  <!--<a md-button routerLink="." class="android-link">LEARN MORE</a>-->
  <!--</md-card-actions>-->
  <!--</md-card>-->

</section>
