<section class="android-wear-section">

  <div class="android-wear-band">
    <div class="android-wear-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">Mikkel Dengsøe</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
        Follow along with the projects I'm working and and the books I'm reading.
      </p>
      <p>
        <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
          Read more about what I'm working on&nbsp;<md-icon>chevron_right</md-icon>
        </a>
      </p>
    </div>
  </div>

</section>
