

<section class="android-wear-section">

  <div class="android-wear-band">
    <div class="android-wear-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">The best of Google built in</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
        Android works perfectly with your favourite apps like Google Maps,
        Calendar and YouTube.
      </p>
      <p>
        <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
          See what's new in the Play Store&nbsp;<md-icon>chevron_right</md-icon>
        </a>
      </p>
    </div>
  </div>

</section>

<div class="section-title"><h2>Projects</h2></div>
<section class="card-container">
  <md-card class="example-card">
    <img md-card-image src="../assets/images/more-from-1.png"/>
    <md-card-title><h4>test</h4></md-card-title>
    <md-card-content>
      <span class="mdl-typography--font-light mdl-typography--subhead">
        The Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </span>
    </md-card-content>
    <md-card-actions>
      <a md-button routerLink="." class="android-link">LEARN MORE</a>
    </md-card-actions>
  </md-card>

  <md-card class="example-card">
    <img md-card-image src="../assets/images/more-from-1.png"/>
    <md-card-title><h4>test</h4></md-card-title>
    <md-card-content>
      <span class="mdl-typography--font-light mdl-typography--subhead">
        The Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </span>
    </md-card-content>
    <md-card-actions>
      <a md-button routerLink="." class="android-link">LEARN MORE</a>
    </md-card-actions>
  </md-card>

</section>


<div class="section-title"><h2>Projects</h2></div>
<section class="card-container">
  <md-card class="example-card">
    <img md-card-image src="../assets/images/more-from-1.png"/>
    <md-card-title><h4>test</h4></md-card-title>
    <md-card-content>
      <span class="mdl-typography--font-light mdl-typography--subhead">
        The Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </span>
    </md-card-content>
    <md-card-actions>
      <a md-button routerLink="." class="android-link">LEARN MORE</a>
    </md-card-actions>
  </md-card>

  <md-card class="example-card">
    <img md-card-image src="../assets/images/more-from-1.png"/>
    <md-card-title><h4>test</h4></md-card-title>
    <md-card-content>
      <span class="mdl-typography--font-light mdl-typography--subhead">
        The Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </span>
    </md-card-content>
    <md-card-actions>
      <a md-button routerLink="." class="android-link">LEARN MORE</a>
    </md-card-actions>
  </md-card>

</section>
